<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  </head>
  <body>
  	<div class="container">

  		<div class="row">
  			<div class="jumbotron">
			    <h3><%= title %></h3>
			    <p> An in house  platform for tracking collaboratrive projects build with Nodejs </p>
			</div>
		</div>

		<div class="row">
			<div class="jumbotron">
				<form class="form-horizontal" method="post" action="/api/project/add">
				    <div class="form-group">
		            	<label class="col-sm-2 control-label">Project ID </label>
		                <div id="title_id" class="input-group " >
					    <input name="ptitle" class="form-control" type="text"  />
					    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
					</div>
		            </div>

				     <div class="form-group">
				     	<label class="col-sm-2 control-label">Start Date</label>
		                <div id="start_date" class="input-group date" data-date-format="mm-dd-yyyy">
						    <input name="sdate" class="form-control" type="text" readonly />
						    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
		            </div>

		            <div class="form-group">
		            	<label class="col-sm-2 control-label">Due Date</label>
		                <div id="due_date" class="input-group date" data-date-format="mm-dd-yyyy">
					    <input name="ddate" class="form-control" type="text" readonly />
					    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
		            </div>

		            <div class="form-group">
		            	<label class="col-sm-2 control-label">Status</label>
		            	<select name="pstatus" class="selectpicker show-menu-arrow">
						  		<option>Select one</option>
						  		<option value="STALLED">STALLED</option>
						       	<option value="STARTED">STARTED</option>
						       	<option value="TESTING">TESTING </option>
						       	<option value="IN PROGRESS">IN PROGRESS</option>
						       	<option value="DEPLOYED">DEPLOYED </option>
						       	<option value="COMPLETE">COMPLETE</option>
						</select>
					</div>
		            </div>
				    <button>Submit project</button>
				    
				</form>
	</div>
	<script type="text/javascript">
		$(function () {
		  $("#start_date").datepicker({ 
		        autoclose: true, 
		        todayHighlight: true
		  }).datepicker('update', new Date());

		  $("#due_date").datepicker({ 
		        autoclose: true, 
		        todayHighlight: true
		  }).datepicker('update', new Date());
		});
	</script>
  </body>
  
</html>
