<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  </head>
  <body>
  	<div class="container">
  		<div class="row">
	  		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">Zikki</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Logo</a></li>
			      <li><a href="#">Project status : Started  </a></li>
			      <li><a href="#"> <span class="glyphicon glyphicon-time"></span> Last Modified : Yesterday</a></li>
			    </ul>
			    <!-- <ul class="nav navbar-nav navbar-right">
			      <li><a href="#"><span class="glyphicon glyphicon-time"></span> Started On: Wed Sep 14 2017 </a></li>
			      <li><a href="#"><span class="glyphicon glyphicon-time"></span> Due on: Mon Sep 20 2019 </a></li>
			    </ul> -->
			  </div>
			</nav>
		</div>

  		<div class="row">
  			<div class="jumbotron">
			    <nav class="navbar navbar-inverse">
				  <div class="container-fluid">
				    
				    <ul class="nav navbar-nav">
				      <li class="active"><a href="#">Enter another Project ID to track its progress</a></li>
				      
				    </ul>
				    <form class="navbar-form navbar-right" method="post" action="/api/project/">
				      <div class="input-group">
				        <input name="proId" type="text" class="form-control" placeholder="Start Tracking">
				        <div class="input-group-btn">
				          <button class="btn btn-default" type="submit">
				            <i class="glyphicon glyphicon-search"></i>
				          </button>
				        </div>
				      </div>
				    </form>
				  </div>
				</nav>
			   
			</div>
		</div>

		<label>Select Date: </label>
			<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
			    <input class="form-control" type="text" readonly />
			    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>



		<div class="row">
			<div class="jumbotron">
				<div class="container">	
					<div class="wrapper">	
							<div class="arrow-steps clearfix">
					          <div class="step current"> <span>Started</span> </div>
					          <div class="step current"> <span>In Progress/Stalled</span> </div>
					          <div class="step"> <span>Testing</span> </div>
					          <div class="step"> <span>Deployed</span> </div>
					          <div class="step"> <span>Finished</span> </div>
							</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<script type="text/javascript">
		$(function () {
		  $("#datepicker").datepicker({ 
		        autoclose: true, 
		        todayHighlight: true
		  }).datepicker('update', new Date());
		});
	</script>
	<script type="text/javascript" src="javascript/main.js">
  </body>
</html>
